# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.venv/
venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints

# ML & Training
catboost_info/
lightning_logs/
runs/
*.pkl
*.joblib
*.h5
*.onnx

# Data & Artifacts
data/
*.parquet
*.csv
*.json
!requirements.txt

# Logs & OS
*.log
.DS_Store
Thumbs.db
.env
.codex
